.container-mostpicked{
  width: 80%;
    display: flex;
    /* justify-content: center; */
    /* border: 10px solid; */
    margin-top: 2rem;
    padding-top: 3rem;
    margin: auto;
}

.container-mostpicked .title, 
.container-mostpicked .price{
  color: var(--primary-color);
}

.container-mostpicked .mostpicked-images .image{
  margin: 1rem 0;
  width: 25rem;
  height: 28rem;
}