.container-mostpicked {
  width: 80%;
  /* display: flex; */
  /* justify-content: center; */
  /* border: 10px solid; */
  margin-top: 2rem;
  padding-top: 3rem;
  margin: auto;
  
  height: 100vh;
}

.container-mostpicked .title,
.container-mostpicked .price {
  color: var(--primary-color);
}

.container-mostpicked .mostpicked-images .image {
  margin: 1rem 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.container-mostpicked .mostpicked-images .container-description {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 45%;
  border-radius: 0 0 30px 30px;
  font-size: 1rem;
  background-color: #E1E1E1;

  /* display: none; */
}
.container-description .description {
  margin: 1.5rem;
}

.swiper-button-prev {
  position: absolute;
  left: 10px;
}