/* ModalProfilePicture.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon {
    font-size: 40px;
    margin-right: 10px;
}

.profile-details {
    flex: 1;
}

.profile-details p {
    margin: 5px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.edit-profile-button,
.other-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.close-button {
    padding: 10px 20px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

/* Tambahkan style untuk input file */
input[type="file"] {
    display: none;
    /* Sembunyikan default file input */
}

.profile-picture {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture:hover {
    background-color: #f7f7f7;
}