.container-recommend {
  width: 80%;
  padding: 2rem 0;
  margin: auto;
  /* border: 1px solid; */
}

.container-recommend .wrapper-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.container-recommend .wrapper-head .title {
  color: var(--primary-color);
  cursor: default;
}

.container-recommend .wrapper-head .search-bar {
  color: var(--primary-color);
  cursor: default;

  display: flex;
}


.wrapper-head .input-search {
  position: relative;
  padding: 0.5rem 1.5rem;
  border-radius: 12px 0 0 12px;
  border: 3px solid var(--search-color);
  border-right: none;
}

.wrapper-head .input-search:focus {
  outline-style: none;
}

.wrapper-head .button-search {
  position: relative;
  padding: 1rem 1.1rem;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

.wrapper-head .button-search .icon {
  position: absolute;
  top: 6px;
  left: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

.wrapper-body {
  display: 100%;
}

.wrapper-body .content {
  display: flex;
  overflow: hidden;
  gap: 5rem;
}

.container-recommend .button {
  float: right;
}