.container-gallery {
  width: 80%;
  padding: 2rem 0;
  margin: auto;
  /* border: 1px solid; */
}

.container-gallery .wrapper-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.container-gallery .wrapper-head .title a {
  color: black;
  text-decoration: none;
  /* font-size: rem; */
}
.container-gallery .wrapper-head .title a span {
  color: var(--primary-color);
}

.container-gallery .search-bar {
  color: var(--primary-color);
  cursor: default;

  display: flex;
}

.input-search {
  position: relative;
  padding: 0.5rem 1.5rem;
  border-radius: 12px 0 0 12px;
  border: 3px solid var(--search-color);
  border-right: none;
}

.input-search:focus {
  outline-style: none;
}

.button-search {
  position: relative;
  padding: 1rem 1.1rem;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

.button-search .icon {
  position: absolute;
  top: 6px;
  left: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

.wrapper-destination {
  margin: 1.5rem 0;
}

.wrapper-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper-body .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.wrapper-body .gallery .images {
  position: relative;
  padding: 2rem 0;
}

.wrapper-body .gallery .images .favorite-icon {
  position: absolute;
  font-size: 2rem;
  color: white;
  top: 40px;
  right: 15px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* pagination css */
.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

/* tutup pagination css */
